<?xml version="1.0"?>

<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<appSettings/>
	<connectionStrings>
    <clear/>
    <add name="MyConnection" connectionString="Server=.\sqlexpress;Database=Sampledb;Trusted_Connection=yes;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
	<system.web>
		<compilation debug="true"/>

		<authentication mode="Forms">
			<forms loginUrl="Login.aspx" name=".ASPXFORMSAUTH"/>
		</authentication>
		<authorization>
			<deny users="?"/>
		</authorization>



		<membership defaultProvider="GenericMembershipProvider">
			<providers>
				<clear/>
				<add name="GenericMembershipProvider"
             type="Condominio.Utility.GenericMembershipProvider, Condominio.Utility"
             connectionStringName="MyConnection"
             applicationName="condominio"
             membershipManagerType="Condominio.Data.UserManager, Condominio.Data" />
			</providers>
		</membership>


		
	</system.web>	
</configuration>
